.payment {

    
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: 5rem auto;
    text-align: center;
  }
  
  .payment h1 {
    margin-bottom: 20px;
  }
  
  .payment-details {
    text-align: left;
    margin-bottom: 20px;
    padding: 3rem;
  }
  
  .payment-details p {
    margin: 5px 0;
  }
  
  .status-pending {
    color: orange;
  }
  
  .pay-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pay-button:hover {
    background-color: #0056b3;
  }
  

  .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .pending{
    color: red !important;
  }
  .payment-details-item{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
  }

  .payment-details-item:hover{
    background: rgba(0, 0, 0, 0.2);
  }