body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Changed to 100vh for better fit on smaller screens */
  text-align: center;
}

.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px; /* Adjusted padding for smaller screens */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%; /* Adjusted max-width for responsiveness */
  width: 100%;
}

.logo img {
  width: 80px; /* Adjusted size for smaller screens */
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px; /* Adjusted margin for smaller screens */
}

h1, h2 {
  margin: 0;
  color: #333;
}

h1 {
  margin-bottom: 10px;
}

h5 {
  margin-bottom: 15px; /* Adjusted margin for smaller screens */
  font-size: 0.8em; /* Adjusted font-size for better fit */
  color: #555;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-links {
  display: flex;
  flex-direction: column; /* Adjusted to stack links vertically on smaller screens */
  align-items: center; /* Centered the links */
  margin-bottom: 15px; /* Adjusted margin for smaller screens */
}

.form-links a {
  color: #007BFF;
  text-decoration: none;
  font-size: 0.9em;
  margin: 5px 0; /* Added margin for vertical spacing */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1rem; /* Adjusted margin for smaller screens */
}

button:hover {
  background-color: #0056b3;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00162d;
  font-weight: 600;
}

.copy-link {
  color: #4e9ef3;
  text-decoration: none;
  font-weight: 600;
}

.copy-text{
  color: white;
}

.white{
  color: white;
}
/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .login-container {
    padding: 15px;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
  }

  h5 {
    font-size: 0.7em;
  }

  .form-links {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-links a {
    font-size: 0.8em;
  }

  button {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }

  h1 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 0.6em;
  }

  .form-links a {
    font-size: 0.7em;
  }
  
  button {
    font-size: 0.9em;
  }
}
