/* src/styles.css */
.register-container,
.dashboard-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2,
.dashboard-container h2 {
  text-align: center;
}

.register-container form div,
.dashboard-container form div {
  margin-bottom: 15px;
}

.register-container form label,
.dashboard-container form label {
  display: block;
  margin-bottom: 5px;
}

.register-container form input,
.dashboard-container form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.register-container .error {
  color: red;
  text-align: center;
}

.register-container button,
.dashboard-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-container button:hover,
.dashboard-container button:hover {
  background-color: #218838;
}

/* styles.css */

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #282c34;
  color: white;
}

.nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.notifications-icon {
  cursor: pointer;
}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 20px;
}

.profile-picture {
  height: 100px;
  width: 100px;
  background: gray;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sidebar-nav a {
  display: block;
  color: black;
  margin: 10px 0;
  text-decoration: none;
}

.dashboard-content {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
 
}

section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

}

button {
  margin: 10px 0;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
